body {
    margin: 0;
    background: #260339;
}

.ui {
    background: #260339;
    padding: 20px;
}

.ui > div {
    display:inline-block;
}

.action {
    color: #ddd;
    width: 176px;
    height: 76px;
    background: #882D60;
    border: none;
    box-shadow: 2px 2px 1px #260339;
    font-size: 20px;
    font-weight: 700;
}

.action:hover {
    background: #AA5585;
}

.controls {
    background: #3D1255;
    float: right;
    width: 33%;
}

.zone {
    background: #3D1255;
    width: 33%;
    height: 660px;
}

.chart-container {
    background: #3D1255;
}

.flipped {
    transform: rotate(180deg) scale(-1, 1);
}